:root{
  --height-input:2rem;
  --font-size-input: 1.2rem;
}
.App {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.form{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 8px;
  border-radius: 8px;
}
.form input{
  height: var(--height-input) ;
  font-size: var(--font-size-input);
  margin-bottom: 1rem;
}
.form select{
  height: var(--height-input);
  font-size: var(--font-size-input);
  margin-bottom: 1rem;
}
.form button{
  cursor: pointer;
  border: none;
  font-size: var(--font-size-input);
  background-color: #9cf;
}
.form button:hover{
  background-color: rgb(108, 181, 253);
}

@media (max-width: 600px) {
  .App{
    width: 80%;
  }
}